*{
    background-color:pink;
    
}
.pani{
    color:black;
    padding-left:143px ; 
       
}
.vat{
    width: 940px;
    height: 343px;
    padding-left: 143px;
}
.chi{
    font-size: 29px;
    padding-left: 143px;
    padding-right:100px;
}
.ami{
    width: 739px;
    height: 339px;
    padding-left: 300px;

}